# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Env files
.env
.env.local
.env.release
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# EAS
*.jks
*.keystore
google-services.json
google-play-key.json

# Build artifacts
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo
